
#outerbody{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0419;
}

.calculatorcard{
   padding: 8px 2px;
   background-color: white;
   display: flex;
   border: 4px solid black;
   flex-direction: column;
   justify-content: center;
   border: 6px solid rgb(66, 64, 62);
   border-radius: 20px;
}

 .displaycard{
    padding: 0 6px;
 }

.display{
    height: 140px;
    font-size:xx-large;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-end;
    justify-content: center;
    line-height: 40px;
    background-color: #040D12;
    padding: 35px 20px;
    border-radius: 20px;
}


.inputscreen{
    background-color: white;
    font-size: x-large;
    margin-top: 10px;
    width: 448px;
    height: 466px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inputbtn{
    background-color: whitesmoke;
    border: 4px solid black;
    font-weight: bolder;
    border-radius: 8px;
    height: 90px;
    width: 107px;
    margin: 0 1px;
}

#newNum{
    margin-top: 24px;
}

#newNum{
    margin-top: 24px;
}

#ac{
    width: 165px;
}

#del{
  width: 165px;
}

#divide{
    width: 100px;
}

#equals{
    width: 216px;
}

